* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
#container div {
  padding: 10px;
  border: 1px solid black;
}

#container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
  gap: 30px;
}

#nav {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 1000px) {
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 30px;
  }
}
@media (max-width: 600px) {
  #container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 200px);

    gap: 30px;
  }
  #container div {
    overflow: auto;
  }
}

/* 
@media(max-width:1090px){

    #container {

        display: grid;
        grid-template-columns:250px 250px 250px ; 
  
          gap: 30px;
  }
  

}

@media(max-width:840px){

    #container {

        display: grid;
        grid-template-columns:300px 300px  ; 
  
          gap: 30px;
  }
  

}
@media(max-width:840px){

    #container {

        display: grid;
        grid-template-columns:400px ; 
  
          gap: 30px;
  }
  

} */

